<ul *ngIf="hotels">
  <li *ngFor="let hotel of hotels" mat-raised-button (click)="openHotel(hotel)">
    <img [src]="hotel.cover_image">
    <div>
      <div class="bold hotel-name">{{ hotel.name }}</div>
      <div class="small">Is this hotel available? : {{ formatIsAvailable(hotel.is_available) }}</div>
    </div>
  </li>
</ul>
