.small {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;padding: 0;
  cursor: pointer;

  li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    div {
      margin-left: 20px;
    }

    .hotel-name {
      margin-bottom: 20px;
    }

    img {
      border-radius: 10%;
      width: 100%;
    }
  }
}
