<div mat-dialog-content class="hotel-modal">
  <div class="basic-info">
    <img class="cover-image" [src]="hotel.cover_image">
    <div>
      <div class="bold hotel-name">{{ hotel.name }}</div>
      <div class="small">Rate : {{ roomTypeAvailability.rent_per_month }}</div>
      <div class="small">Availability : {{ formatIsAvailable(roomTypeAvailability.is_available) }}</div>
    </div>
  </div>
  <div class="booking-info">
    <div>
      <div class="small status">Booking Status : {{ bookingStatus }}</div>
    </div>
    <div></div>
    <div>
      <mat-form-field>
        <mat-label>Room Type</mat-label>
        <mat-select [formControl]="roomType" (selectionChange)="getAvailability()">
          <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
            {{ roomType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div></div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="fromDatePicker" placeholder="From Date"
               [formControl]="fromDate" (dateChange)="getAvailability()">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="toDatePicker" placeholder="To Date"
               [formControl]="toDate" (dateChange)="getAvailability()">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div [hidden]="!showCustomerName()">
      <mat-form-field>
        <input matInput maxlength="256" placeholder="Customer Name"
               [formControl]="customerName">
        <mat-error *ngIf="customerName.hasError('required')">
          Customer Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="error-info">
    <div class="small red">{{ error }}</div>
  </div>
</div>
<div mat-dialog-actions class="hotel-modal-actions">
  <button mat-button (click)="onClose()">Close</button>
  <div></div>
  <button mat-stroked-button (click)="onBook()" [disabled]="!canBook()">Book</button>
</div>
