.red {
  color: red;
}

.small {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.hotel-modal {
  .basic-info {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 20% 80%;

    .hotel-name {
      margin-bottom: 20px;
      font-size: 1.3em;
    }

    .cover-image {
      border-radius: 10%;
      width: 100%;
    }

    div {
      margin-left: 20px;
    }
  }

  .booking-info {
    padding: 0 20px 0 20px;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 50% 50%;

    .status {
      margin-bottom: 20px;
    }
  }

  .error-info {
    padding-left: 20px;
  }
}

.hotel-modal-actions {
  margin: 0 20px 0 20px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 20% auto 20%;
}
